        body {
            margin: 0px;
        }

        nav {
            background-color: #2fa4e7;
        }

        main {
            display: flex; 
        }
        /* Khối lớn nhất */

        a{
            text-decoration: none;
        }

        /* Khối con của Nav */
        .danh-sach-danh-muc{
            /*bỏ dấu chấm của list*/
            list-style: none;
            margin: 0px;
            display: flex;
            padding: 10px;
            gap: 15px;
            /* set các đối tượng bọc ở khối tự động cách nhau khoảng cách = giá trị truyền vào */
        }

        .muc{
            color: white;
            /*font-weight: bold;*/
            padding: 15px;

        }

        .lien-ket-muc{
            color: white;
            /* để bỏ gạch chân của thẻ a dùng text-decoration*/
            text-decoration: none;
        }
        /* Khối con của Nav */



        /* Khối trái con của Main */

        /* Khối lớn của khối trái */
        .khoi-trai {
            width: 20%;
            /* background: red; */
            height: 90vh;
            /* để vẽ viền dùng border
               border sẽ có 3 tham số (độ dày - loại đường viền - màu sắc) */
            border-right: 1px solid #2fa4e7;
        }
        /* Khối lớn của khối trái */
        
        /* Các khối con của khối trái */
        p {
            margin: 0px;
        }

        input {
            width: 100%;
            padding: 10px 0px;
            border-radius: 5px;
            border: 2px solid #dedede;
        }

        .khoi-dang-nhap {
            /* background: red; */
            width: 90%;
            height: 300px;
            margin: 10px auto;
            /* căn giữa dùng margin: auto */
        }

        .quen-mk {
            display: flex;
            justify-content: flex-end;
        }

        .lien-ket-quen-mk {
            text-decoration-line: none;
            color: #2fa4e7;
        }

        .thong-tin {
            margin-bottom: 10px;
        }

        button {
            width: 100%;
            padding: 10px 0;
            margin-top: 10px;
            border-radius: 5px;
            border: 2px solid #dedede;
            color: white;
        }

        .dang-nhap {
            background: #2fa4e7;
        }

        .dang-nhap-365 {
            background: #0078D4;
        }
        /* Các khối con của khối trái */



        /* Khối phải con của Main */

        /* Khối lớn của khối phải */
        .khoi-phai {
            width: 80%;
            /* background: green; */
            height: 90vh;
        }
        /* Khối lớn của khối phải */
        
        /* Các khối con của khối phải */
        .tin {
            width: 95%;
            height: 300px;
            margin: 20px auto;
            border: 2px solid #2fa4e7;
            border-radius: 10px;
        }

        .tin-tren {
            width: 95%;
            margin: auto;
            border-bottom: 1px solid #2fa4e7;
            display: flex;
            justify-content: space-between;
            padding: 10px;
        }

        h3 {
            margin: 0;
        }

        .danh-sach-tin {
            width: 95%;
            margin: auto;
            padding: 10px;
            display: flex;
        }

        .bai-viet {
            width: 25%;
            margin-right: 20px;
        }

        .bai-viet-thong-bao {
            width: 50%;
        }

        .bai-viet-khoi-anh{
            width: 100%;
        }

        .bai-viet-thoi-gian{
            display: flex;
            justify-content: flex-end;
        }

        img{
            width: 100%;
            height: 20vh;
            border-radius: 10px;
        }
        
        .menu{
            display: flex;
            width: 100%;
            border-bottom: 1px solid #dedede;
        }

        .menu-bai-viet{
            width: 80%;
            margin: auto;
        }

        .menu-thoi-gian{
            width: 20%;
            margin: auto;
            margin-right: 0px;
        }

        .xem-tiep {
            color: #2fa4e7;
            text-decoration-line: none;
        }
        /* Các khối con của khối phải */